<!DOCTYPE html>
<html>
<head>
	<title>aitor garcia</title>
	<link rel="stylesheet" type="text/css" href="../static/style/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/497ef235da.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<p class="logo"></p>
		<div class="wrapper-sections" id="header_elements">
			<a href="home" class="active">
				<div class="box">
				  	<p class="box-title">home</p>
				</div>
			</a>
			<a href="work">
				<div class="box">
				  	<p class="box-title">work</p>
				</div>
			</a>
			<a href="blog">
				<div class="box">
				  	<p class="box-title">blog</p>
				</div>
			</a>
			<a href="blog">
				<div class="box">
				  	<p class="box-title">resume</p>
				</div>
			</a>
		</div>
	</div>

	<div class="socials">
		<i class="fa-brands fa-github"></i><br>
		<i class="fa-brands fa-twitter"></i><br>
		<i class="fa-brands fa-instagram"></i><br>
		<i class="fa-brands fa-mastodon"></i><br>
		<i class="fa-brands fa-linkedin"></i><br>
		<div class="vert-line"></div>
	</div>

	<div class="email">
		<p>aitor@garciahombrados.com</p><br>
		<div class="vert-line"></div>
	</div>

	<p class="name" id="name">aitor garcia</p>
	<div class="welcome">
  		<div class="text"></div>
	</div>
	<p class="scrolldown">scroll down to find out</p>

	<div class="section">
		<p class="title" id="about">about</p>
		<div class="terminal">
			<div class="heading">
				<div class="texts">
					<div class="option">FILE</div>
					<div class="option">EDIT</div>
					<div class="option">HELP</div>
				</div>
				<div class="circles">
					<div class="circle" style="background-color: #54c94e;"></div>
					<div class="circle" style="background-color: #daff60;"></div>
					<div class="circle" style="background-color: #ff6060;"></div>
				</div>
			</div>
			<div class="text">
				<p class="prompt">aitorgarcia@web:~$ </p>
				<p class="command">about aitor</p>
			</div>
			<div class="output">
				<div class="option">
					<p class="type">description:&nbsp</p>
					<p><span style="color: #cccccc;">aitor</span> loves <span style="color: #cccccc;">computers</span>, specifically <span style="color: #cccccc;">how</span> they work. since he made his <span style="color: #cccccc;">first program</span> in scratch, he would spend <span style="color: #cccccc;">hours</span> making <span style="color: #cccccc;">programs</span> and <span style="color: #cccccc;">experimenting</span> with a large variety of <span style="color: #cccccc;">technologies</span>. by remmaining <span style="color: #cccccc;">humble</span> he keeps <span style="color: #cccccc;">learning</span> from his mistakes and <span style="color: #cccccc;">improves</span> throughout his <span style="color: #cccccc;">computer science journey</span>.<br><br>
				</div>
				<div class="option">
					<p class="type">interests:&nbsp</p>
					<p><span style="color: #cccccc;">algorithms</span>, web 3, <span style="color: #cccccc;">ai</span>, blockchain, game development, <span style="color: #cccccc;">software development</span><br><br></p>
				</div>
				<div class="option">
					<p class="type">current state:&nbsp</p>
					<p>currently, <span style="color: #cccccc;">aitor</span> is a <span style="color: #cccccc;">student</span> and sells <span style="color: #cccccc;">nfts</span>.<br><br></p>
				</div>
			</div>
			<div class="text">
				<p class="prompt">aitorgarcia@web:~$ </p>
				<div class="cursor"></div>
			</div>
		</div>
	</div>

	<div class="section" style="margin-top: 50vh;">
		<p class="title" style="margin-left: -15%;">skills</p>
		<div class="skill-sections">
			<div class="skill-description-holder">
				<p class="skill-description">as seen in my github, most of my repos are implementations of different algorithms in c++.<br><br>this is followed by artificial intelligence in both c++ and python.<br><br>i have used different graphics apis from opengl to vulkan to pygame to unity.<br><br>lately i've been experimenting with blockchain as well as web development.</p>
			</div>
			<div class="skills">
				<div class="skill">
					<p style="margin-top: 0;">algorithms</p>
					<div class="holder">
						<div class="level" style="width: 90%;"></div>
					</div>
				</div>
				<div class="skill">
					<p>artificial intelligence</p>
					<div class="holder">
						<div class="level" style="width: 75%;"></div>
					</div>
				</div>
				<div class="skill">
					<p>graphics</p>
					<div class="holder">
						<div class="level" style="width: 60%;"></div>
					</div>
				</div>
				<div class="skill">
					<p>web</p>
					<div class="holder">
						<div class="level" style="width: 55%;"></div>
					</div>
				</div>
				<div class="skill">
					<p>blockchain</p>
					<div class="holder">
						<div class="level" style="width: 35%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" style="margin-top: 50vh">
		<p class="title" style="margin-left: 5%">recent</p>
		<div class="recent-sections" id="header_elements">
			<a href="">
				<div class="box">
					<img src="../static/images/projects/neuralnet.png" class="project-img">
				</div>
			</a>
			<a href="fennecs">
				<div class="box">
					<img src="../static/images/projects/meziakifennecs.png" class="project-img">
				</div>
			</a>
			<a href="desert">
				<div class="box">
					<img src="../static/images/projects/qlearning.png" class="project-img">
				</div>
			</a>
			<a href="roadmap">
				<div class="box">
					<img src="../static/images/projects/aitorvulkanengine.png" class="project-img">
				</div>
			</a>
			<a href="visualize">
				<div class="box">
				  	<img src="../static/images/projects/mazegeneration.png" class="project-img">
				</div>
			</a>
			<a href="visualize">
				<div class="box">
				  	<img src="../static/images/projects/pathfinding.png" class="project-img">
				</div>
			</a>
		</div>
	</div>

	<div class="section">
		<p class="title" style="margin-left: -15%; margin-top: -15%;">contact</p>
		<div class="contact">
			<a href="">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="">
				<i class="fa-brands fa-twitter"></i>
			</a>
			<a href="">
				<i class="fa-brands fa-instagram"></i>
			</a>
			<a href="">
				<i class="fa-brands fa-mastodon"></i>
			</a>
			<a href="">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</div>

	<script src="../static/scripts/textscramble.js"></script>
</body>
</html>